<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>${page-title}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
             <link href="/css/style.css" rel="stylesheet" type="text/css">
             <link rel="shortcut icon" href="/img/favicon.ico">
             <link rel="icon" href="/img/favicon.ico"> -->
        <!-- http://gugel.io/papier/ -->
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/zenburn.css">
        <link rel="stylesheet" href="https://cdn.rawgit.com/alexanderGugel/papier/master/dist/papier-1.0.0.min.css">
    </head>
    <body>
        <header id="menu" class="bg-green top-bar depth-3"><a class="no-deco" href="/">逆引き Clojure</a></header>
        <div id="content"></div>
        <script src="/js/highlight.pack.js"></script>
        <script>hljs.initHighlightingOnLoad();</script>
    </body>
</html>
