{:db
 {:vendor   "postgresql"
  :name     "rlu_dict"
  :host     "localhost"
  :port     5433
  :user     "username"
  :password "password"}

 :webserver
 {:port 8000}

 :github
 {:client_id "your github app client id"
  :client_secret "your github app client secret"}}
