body {
    font-family: "Hiragino Kaku Gothic ProN", 'メイリオ', Meiryo, sans-serif;
}

.top-bar {
    padding: 10px 5px;
}

a {
    text-decoration: none;
}

img.avatar {
    width: 24px;
    heihgt: 24px;
    margin-right: 5px;
}