body {
    font-family: "Hiragino Kaku Gothic ProN", 'メイリオ', Meiryo, sans-serif;
}

.top-bar {
    padding: 10px;
}

.footer {
    padding: 10px;
}

a {
    text-decoration: none;
}

a.brand {
    display: inline-block;
}

img.avatar {
    width: 24px;
    heihgt: 24px;
    margin-right: 5px;
}

ul.menu {
    display: inline-block;
    list-style-type: none;
}

ul.menu > li {
    display: inline;
    padding: 0 5px;
}

textarea.content {
    height: 25em;
}

.small {
    font-size: small;
}